@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background: #e1eeff;
}

img {
  max-width: 100%;
  max-height: auto;
}

#container {
  max-width: 100%;
}

#header {
  background: #e1ffeb;
  padding: 20px;
}

#content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
}

.task {
  font-size: 2em;
  padding: 20px 50px;
  background: #ffcdc8;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Task complete */
.complete {
  background: #ddd;
}

.info {
  font-size: 1.5em;
}

.done {
  text-align: center;
  font-size: 2em;
  padding: 20px 50px;
  background: #ffcdc8;
  margin: 20px 0;
  border-radius: 5px;
}
