@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background: #e1eeff;
}

#container {
  max-width: 100%;
}

#header {
  background: #e1ffeb;
  padding: 20px;
}

#content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
}
